<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Check your inbox</h1>
                <p>
                We've emailed you instructions for setting your password. You should receive the email shortly...
                </p>
                <hr>
                <p class="text-white link-nav">
                    Click <a href="{% url 'accounts:password-reset' %}">HERE </a> if you have not received the email yet
                <hr>
                   If you remember the password, <a href="{% url 'accounts:login' %}">LOGIN </a>
                    <br>
                    <span class="lnr lnr-arrow-right"></span>
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}