<div class="aside-block">
                    <h4 class="text-uppercase"><i>Recent Posts</i></h4>
                    <hr class="gold-hr">
                    <article class="aside-post-excerpt">
                        <h5 class="text-uppercase">Aenean Sollicitudin Lorem</h5>
                        <p class="gold-text"><i>21 January 2084</i></p>
                        <p>Integer lorem enim, pretium suscipit lectus vitae, sagittis aliquet urna. Vivamus interdum pellentesque urna, at pharetra felis tincidunt in.</p>
                        <p><b><i>Author: Admin</i></b></p>
                    </article>
                    <hr class="gold-hr">
                    <article class="aside-post-excerpt">
                        <h5 class="text-uppercase">Aenean Sollicitudin Lorem</h5>
                        <p class="gold-text"><i>19 January 2084</i></p>
                        <p>Integer lorem enim, pretium suscipit lectus vitae, sagittis aliquet urna. Vivamus interdum pellentesque urna, at pharetra felis tincidunt in.</p>
                        <p><b><i>Author: Admin</i></b></p>
                    </article>
                </div> <!-- /.aside-block -->