{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<!-- "Latest News" -->
<div class="container">
    <div class="row">
                <!-- Enhanced Popup Modal -->
        <div id="message-popup" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modal-message-content"></p>
            </div>
        </div>

        <!-- Hidden Div for Django Messages -->
        <div id="popup-messages" style="display: none;">
            {% if messages %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <!-- Main content -->
      <section class="col-lg-8 col-md-8">
        <div class="row">
            <div class="col-lg-12">
                <article class="templatemo-blog-post">
                    <div class="post-img-container">
                        <img src="{{post.img.url}}" alt="Post 1" class="post-img img-responsive">
                        <div class="templatemo-post-social">
                            <div class="flex-center margin-top-10">
                                <i class="fa fa-heart fa-2x red-bg"></i>
                            </div>
                            <div class="flex-center margin-top-10">
                                <i class="fa fa-comments-o fa-2x gold-bg"></i>
                            </div>
                        </div>
                        <div class="templatemo-post-date gold-text">
                            <div>
                                <div class="text-center date">{{post.published_date|date:"d "}}</div>
                                <div class="text-center">{{post.published_date|date:"M Y"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <h3 class="text-uppercase">{{post.title}}</h3>
                    </div>
                    <div class="post-meta-data">
                        <p class="gold-text">
                            <i>
                            Posted by: <a class="gold-text" href="{% url 'blog:author' author=post.author %}">
                            {{post.author.get_full_name}} </a>/
                            Categories:
                            {% for cat in post.category.all %}
                            <a  class="gold-text" href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }} </a>
                            {%if not forloop.last%},{%endif%}
                            {% endfor %} /
                            Comments: {{comments|length}} /
                            Views: {{ post.counted_view }}
                            </i>
                        </p>
                    </div>
                    <div class="post-excerpt gray-text">
                        <p>{{post.content}}</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <div class="comment-section">
                    <h3 class="text-uppercase">Leave a Comment</h3>
                    <hr class="gold-hr">
                    <!-- Comment Form -->
                    <form action="{% url 'blog:single-blog' pid=post.id %}" method="post" class="comment-form">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name" class="text-uppercase">Name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="text-uppercase">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
                        </div>

                        <div class="form-group">
                            <label for="content" class="text-uppercase">Comment</label>
                            <textarea id="content" name="message" class="form-control" rows="5" placeholder="Your Comment" required></textarea>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Post Comment</button>
                        </div>
                    </form>
                </div>

                <!-- Display Existing Comments -->
                <div class="existing-comments mt-5">
                    <h4 class="text-uppercase">Comments</h4>
                    <hr class="gold-hr">

            <aside class="col-lg-4 col-md-4 templatemo-blog-post-aside">
                {% categories %}
                {% popular_post 3 %}
                {% include 'blog/pre-next-post.html' %}
                {% include 'blog/tag.html' %}
            </aside>
                    {% for comment in comments %}
                    <div class="media comment-box mb-4">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.name }}</h5>
                            <p class="comment-date"><i>{{ comment.created_date|date:"F j, Y, g:i a" }}</i></p>
                            <p>{{ comment.message }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments yet. Be the first to comment!</p>
                    {% endfor %}
                </div>
            </div>


        </div>
{% endblock %}