{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- "Men Collections" -->
        <section class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-uppercase">Men Collections</h2>
                    <hr class="templatemo-section-header-hr">
                    <p class="text-uppercase templatemo-section-subheader">View All Products</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="product-menu text-uppercase">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/1.jpg' %}" alt="Men fashion 1" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 90.00</p>
                        </div>
                        <img src="{% static 'img/men-page/2.jpg' %}" alt="Men fashion 2" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/3.jpg' %}" alt="Men fashion 3" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/4.jpg' %}" alt="Men fashion 4" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/5.jpg' %}" alt="Men fashion 5" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/6.jpg' %}" alt="Men fashion 6" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/7.jpg' %}" alt="Men fashion 7" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/8.jpg' %}" alt="Men fashion 8" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/9.jpg' %}" alt="Men fashion 9" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/10.jpg' %}" alt="Men fashion 10" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/11.jpg' %}" alt="Men fashion 11" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="{% static 'img/men-page/12.jpg' %}" alt="Men fashion 12" class="product-type-img img-collection gold-border">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-play"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> <!-- end "Men Collections" -->
{% endblock %}
