{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- "Women Collections" -->
        <section class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-uppercase">Women Collections</h2>
                    <hr class="templatemo-section-header-hr">
                    <p class="text-uppercase templatemo-section-subheader">View All Products</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="product-menu text-uppercase">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- end "Men Collections" -->
{% endblock %}
